In [16]:
import pandas
import pandas as pd

In [23]:
#doble guión
#útil saber la versión
pd.__version__

'1.1.3'

# Creación de Data Frames

In [12]:
#Se puede crear un dataframe en pandas de forma manual utilizando listas y diccionarios.
pokemon = ["Bulbasaur", "Squirtle", "Charizard", "Pikachu", "Onix", "Geodude", "Vulpix", "Starmie"]
tipos= ["Grass / Poisson", "Water", "Fire / Flying", "Electric", "Rock / Ground", "Rock / Ground", "Fire", "Water"]
numero_pokedex = [1, 4 ,7, 25, 95, 74, 37, 121]

In [13]:
#Creo el diccionario, para los nombres de las columnas:
dict_pokemon = {'nombre': pokemon,
                 'tipo': tipos,
                 'pokedex': numero_pokedex}
dict_pokemon

{'nombre': ['Bulbasaur',
  'Squirtle',
  'Charizard',
  'Pikachu',
  'Onix',
  'Geodude',
  'Vulpix',
  'Starmie'],
 'tipo': ['Grass / Poisson',
  'Water',
  'Fire / Flying',
  'Electric',
  'Rock / Ground',
  'Rock / Ground',
  'Fire',
  'Water'],
 'pokedex': [1, 4, 7, 25, 95, 74, 37, 121]}

In [17]:
#Ahora lo tendré mucho más ordenado
df_pokemon = pandas.DataFrame(dict_pokemon)
df_pokemon

      nombre             tipo  pokedex
0  Bulbasaur  Grass / Poisson        1
1   Squirtle            Water        4
2  Charizard    Fire / Flying        7
3    Pikachu         Electric       25
4       Onix    Rock / Ground       95
5    Geodude    Rock / Ground       74
6     Vulpix             Fire       37
7    Starmie            Water      121

In [18]:
type(df_pokemon)

pandas.core.frame.DataFrame

# Atributos Dataframes

In [19]:
#nombre de columnas
df_pokemon.columns

Index(['nombre', 'tipo', 'pokedex'], dtype='object')

In [20]:
#nombre de filas, python no considera el extremo derecho, dice el límite pero es uno anterior.
df_pokemon.index

RangeIndex(start=0, stop=8, step=1)

In [21]:
#Forma: (filas, columnas)
df_pokemon.shape

(8, 3)

In [45]:
#Valores que lo conforman: solo Datos, ni columnas ni índices.
df_pokemon.values

array([['Bulbasaur', 'Grass / Poisson', 1],
       ['Squirtle', 'Water', 4],
       ['Charizard', 'Fire / Flying', 7],
       ['Pikachu', 'Electric', 25],
       ['Onix', 'Rock / Ground', 95],
       ['Geodude', 'Rock / Ground', 74],
       ['Vulpix', 'Fire', 37],
       ['Starmie', 'Water', 121]], dtype=object)

# Columnas Dataframes

In [46]:
#Solo una columna del Dataframe: CORCHETE
df_pokemon['tipo']

0    Grass / Poisson
1              Water
2      Fire / Flying
3           Electric
4      Rock / Ground
5      Rock / Ground
6               Fire
7              Water
Name: tipo, dtype: object

In [47]:
#Cada columna de un dataframe es de tipo: Series
type(df_pokemon['tipo'])

pandas.core.series.Series

In [49]:
#Otra manera de acceder a las columnas:
df_pokemon.nombre #Ten cuidado, este modo es riesgoso

0    Bulbasaur
1     Squirtle
2    Charizard
3      Pikachu
4         Onix
5      Geodude
6       Vulpix
7      Starmie
Name: nombre, dtype: object

In [51]:
#Acceder a más de una columna: Creamos una lista
df_pokemon[['nombre', 'tipo']] #Devuelve tipo de dato: Dataframe porque está en una lista

      nombre             tipo
0  Bulbasaur  Grass / Poisson
1   Squirtle            Water
2  Charizard    Fire / Flying
3    Pikachu         Electric
4       Onix    Rock / Ground
5    Geodude    Rock / Ground
6     Vulpix             Fire
7    Starmie            Water

In [53]:
#Es de tipo Dataframe porque lo puse como lista
df_pokemon[['nombre']]

      nombre
0  Bulbasaur
1   Squirtle
2  Charizard
3    Pikachu
4       Onix
5    Geodude
6     Vulpix
7    Starmie

In [57]:
#OTRO MODO: en caso no se encuentre la columna, el código no te da ERROR
df_pokemon.get(['name','hola','bro']) #No da nada, porque no existen dos columnas