## Ejercicio 1

#### Utilizando los archivos de la carpeta "sets-year", unir los sets de legos de todos los años

In [15]:
import os
import pandas

In [5]:
#sorted, nos muestra de manera ordenada:
sorted(os.listdir('MATERIALES-CAP2/02-merging-dataframes/sets-year'))

['lego_1999.csv',
 'lego_2000.csv',
 'lego_2001.csv',
 'lego_2002.csv',
 'lego_2003.csv',
 'lego_2004.csv',
 'lego_2005.csv',
 'lego_2006.csv',
 'lego_2007.csv',
 'lego_2008.csv',
 'lego_2009.csv',
 'lego_2010.csv',
 'lego_2011.csv',
 'lego_2012.csv',
 'lego_2013.csv',
 'lego_2014.csv',
 'lego_2015.csv',
 'lego_2016.csv',
 'lego_2017.csv',
 'lego_2018.csv',
 'lego_2019.csv',
 'lego_2020.csv',
 'lego_2021.csv']

In [9]:
#lees un archivo:
pandas.read_csv('MATERIALES-CAP2/02-merging-dataframes/sets-year/lego_1999.csv')

   set_num                  name  year  num_parts      theme
0   7171-1      Mos Espa Podrace  1999        913  Star Wars
1   7131-1     Anakin's Podracer  1999        136  Star Wars
2   7140-1        X-wing Fighter  1999        271  Star Wars
3   7141-1         Naboo Fighter  1999        179  Star Wars
4   7121-1           Naboo Swamp  1999         82  Star Wars
5   7150-1  TIE Fighter & Y-wing  1999        410  Star Wars
6   7151-1      Sith Infiltrator  1999        244  Star Wars
7   7161-1            Gungan Sub  1999        379  Star Wars
8   7128-1         Speeder Bikes  1999         93  Star Wars
9   7130-1           Snowspeeder  1999        217  Star Wars
10  7111-1         Droid Fighter  1999         62  Star Wars
11  7110-1           Landspeeder  1999         49  Star Wars
12  9748-1   Droid Developer Kit  1999        658  Star Wars
13  7101-1       Lightsaber Duel  1999         52  Star Wars

#### Lo unimos: append

In [11]:
#files es todos los archivos de sets-year
files = sorted(os.listdir('MATERIALES-CAP2/02-merging-dataframes/sets-year'))

#crearé un dataframa para unir todos los archivos ahí:
lego_sets = pandas.DataFrame()


#file es solo un archivo de files
for file in files: #cada uno de los archivos
    
    #leo el archivo de un año.
    lego_year = pandas.read_csv(f'MATERIALES-CAP2/02-merging-dataframes/sets-year/{file}')
    #lo uno todo en este archivo, ignorando el índice:
    lego_sets = lego_sets.append(lego_year, ignore_index = True)

In [13]:
#vemos que presenta toda la información:
lego_sets

     set_num                             name  year  num_parts      theme
0     7171-1                 Mos Espa Podrace  1999        913  Star Wars
1     7131-1                Anakin's Podracer  1999        136  Star Wars
2     7140-1                   X-wing Fighter  1999        271  Star Wars
3     7141-1                    Naboo Fighter  1999        179  Star Wars
4     7121-1                      Naboo Swamp  1999         82  Star Wars
..       ...                              ...   ...        ...        ...
779  75301-1  Luke Skywalker's X-Wing Fighter  2021        473  Star Wars
780  30388-1                 Imperial Shuttle  2021         85  Star Wars
781  75300-1             Imperial TIE Fighter  2021        432  Star Wars
782  75299-1              Trouble on Tatooine  2021        276  Star Wars
783  75295-1   Millennium Falcon Microfighter  2021        101  Star Wars

[784 rows x 5 columns]

#### Otro modo, concat

In [17]:
files = sorted(os.listdir('MATERIALES-CAP2/02-merging-dataframes/sets-year'))


#dataframes
dfs = [pandas.read_csv(f'MATERIALES-CAP2/02-merging-dataframes/sets-year/{file}') for file in files]

In [20]:
#puedes llamar al primer archivo de sets_year solo con el índice
dfs[0]

   set_num                  name  year  num_parts      theme
0   7171-1      Mos Espa Podrace  1999        913  Star Wars
1   7131-1     Anakin's Podracer  1999        136  Star Wars
2   7140-1        X-wing Fighter  1999        271  Star Wars
3   7141-1         Naboo Fighter  1999        179  Star Wars
4   7121-1           Naboo Swamp  1999         82  Star Wars
5   7150-1  TIE Fighter & Y-wing  1999        410  Star Wars
6   7151-1      Sith Infiltrator  1999        244  Star Wars
7   7161-1            Gungan Sub  1999        379  Star Wars
8   7128-1         Speeder Bikes  1999         93  Star Wars
9   7130-1           Snowspeeder  1999        217  Star Wars
10  7111-1         Droid Fighter  1999         62  Star Wars
11  7110-1           Landspeeder  1999         49  Star Wars
12  9748-1   Droid Developer Kit  1999        658  Star Wars
13  7101-1       Lightsaber Duel  1999         52  Star Wars

In [21]:
#puedes llamar al segundo archivo
dfs[1]

,set_num,name,year,num_parts,theme
0,7184-1,Trade Federation MTT,2000,466,Star Wars
1,7180-1,B-wing at Rebel Control Center,2000,346,Star Wars
2,3341-1,Star Wars #2 - Luke/Han/Boba Minifig Pack,2000,25,Star Wars
3,3342-1,Star Wars #3 - Troopers/Chewie Minifig Pack,2000,25,Star Wars
4,7159-1,Star Wars Podracing Bucket,2000,293,Star Wars
5,7155-1,Trade Federation AAT,2000,158,Star Wars
6,3343-1,Star Wars #4 - Battle Droid Minifig Pack,2000,33,Star Wars
7,7190-1,Millennium Falcon,2000,671,Star Wars
8,7144-1,Slave I,2000,166,Star Wars
9,7134-1,A-wing Fighter,2000,125,Star Wars
10,3340-1,Star Wars #1 - Sith Minifig Pack,2000,30,Star Wars
11,9754-1,Dark Side Developers Kit,2000,578,Star Wars
12,4151270-1,Star Wars Co-Pack of 7121 and 7111,2000,0,Star Wars
13,VP-3,Star Wars Co-Pack of 7131 and 7151,2000,0,Star Wars
14,8000-1,Pit Droid,2000,223,Star Wars
15,7115-1,Gungan Patrol,2000,79,Star Wars
16,VP-8,Star Wars Co-Pack of 7130 and 7150,2000,0,Star Wars
17,VP-4,Star Wars Co-Pack of 7101 7111 and 7171,2000,0,Star Wars
18,8001-1,Battle Droid,2000,336,Star Wars
19,VP-12,Star Wars Co-Pack of 7121 and 7151,2000,0,Star Wars
20,VP-11,Star Wars Co-Pack of 7101 7111 and 7131,2000,0,Star Wars
21,8002-1,Destroyer Droid,2000,567,Star Wars
22,7104-1,Desert Skiff,2000,55,Star Wars
23,swminifigs-1,Star Wars Minifig Packs 4-Pack,2000,0,Star Wars
24,7124-1,Flash Speeder,2000,107,Star Wars

In [23]:
#ahora lo juntamos:
lego_sets = pandas.concat(dfs, ignore_index=True)
lego_sets

     set_num                             name  year  num_parts      theme
0     7171-1                 Mos Espa Podrace  1999        913  Star Wars
1     7131-1                Anakin's Podracer  1999        136  Star Wars
2     7140-1                   X-wing Fighter  1999        271  Star Wars
3     7141-1                    Naboo Fighter  1999        179  Star Wars
4     7121-1                      Naboo Swamp  1999         82  Star Wars
..       ...                              ...   ...        ...        ...
779  75301-1  Luke Skywalker's X-Wing Fighter  2021        473  Star Wars
780  30388-1                 Imperial Shuttle  2021         85  Star Wars
781  75300-1             Imperial TIE Fighter  2021        432  Star Wars
782  75299-1              Trouble on Tatooine  2021        276  Star Wars
783  75295-1   Millennium Falcon Microfighter  2021        101  Star Wars

[784 rows x 5 columns]

### Terminado. Ahora crearemos un archivo csv que contenga todos los archivos:

In [26]:
lego_sets.to_csv('5.lego_sets.csv', index = False)